<%- include('parts/header') %>
<%- include('parts/navbar') %>
<div class="container">

    <%- include('parts/slideshow') %>
    <div id="myBtnContainer" class="d-flex btns">
        <button class="btnC btn btn-outline-primary active shadow-none all-btns" onclick="filterSelection('all')">
            <p>All</p>
        </button>
        <div class="divBtns">
            <button class="btnC btn btn-outline-primary shadow-none" onclick="filterSelection('phone')">
                <img src="/images/phone.svg" alt="phone"></button>
            <p>Phones</p>
        </div>
        <div class="divBtns">
            <button class="btnC btn btn-outline-primary shadow-none" onclick="filterSelection('notebook')">
                <img src="/images/laptop.svg" alt="laptop"> </button>
            <p>Laptops</p>
        </div>
        <div class="divBtns">
            <button class="btnC btn btn-outline-primary shadow-none" onclick="filterSelection('camera')">
                <img src="/images/headphone.svg" alt=""></button>
            <p>Headphones</p>
        </div>
    </div>
</div>


<% if( products.length ) { %>
<ul class="container list-item">
    <% for(let i in products) { %>
        <a href="/home/<%= products[i]._id %> " class="anker">
            <li class="filterDiv <%= products[i].type %>">
                <div class="card">
                    <img class="card-img-top image" src="<%= products[i].img %>" alt="<%= products[i].type %> image">
                    <div class="card-body">
                        <h5 class="card-title"><%= products[i].name %></h5>
                        <p class="price"> <%= products[i].price %></p>
                        <p class="card-text overflow-hidden"><%= products[i].title %></p>
                        <div class="lorem">
                            <% if ( user.name == ADMIN && user.phone == PHONE ) { %>
                            <a class="btn btn-outline-danger" href="/edit/<%= products[i]._id %>">Edit</a>
                            <% } %>
                            <form action="/basket/add" method="POST">
                                <input type="hidden" name="id" value="<%= products[i]._id %>">
                                <button type="submit" class="btn btn-outline-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        </a>
    <% } %>
</ul>
<% } else {%>
<pre> Products did not remain </pre>
<% } %>



<%- include('parts/footer') %>