<%- include('parts/header') %>
<div class="container-fluid">
  <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Gender</th>
        </tr>
    </thead>
    <tbody>
      <% if (users) { %> 
      <% for( let i in users ) {%> 
    <tr>
      <th scope="row"> <%= i %>  </th>
      <td> <%= users[i].name %>  </td>
      <td> <%= users[i].phone %>  </td>
      <td> <%= users[i].gender %>  </td>
    </tr>
    <% } %> 
    <% } %> 
  </tbody>
</table>
</div>
